// Section
section {
  padding: 80px 0;
}

//Pattern bg
.patter-bg {
  background: url("../img/bg_pattern.jpg") top center;
}

@media (max-width:991px) {
  section {
    padding: 50px 0;
  }
}

// Logo
.logo {
  display: block;
  &__descr {
    font-size: 18px;
    font-family: $main_font_familyBold;
    color: #fff;
    position: relative;
    bottom: 6px;
  }
}

//Navigation
.nav {
  text-align: center;
  &__list {
    height: 50px;
    text-align: justify;
    padding: 0;
    margin: 0;
    font-size: 0;
    list-style: none;
    &:after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 0;
    }
  }

  &__item {
    display: inline-block;
    a {
      color: #ffffff;
      position: relative;
      display: block;
      font-size: 16px;
      padding-bottom: 28px;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background: none;
        box-shadow: none;
        transition: all .5s ease;
      }
      &:hover::after {
        box-shadow: 0 0 20px rgba(134,204,32,1);
        background: linear-gradient(to top,#80c925,#acdd00);
      }
    }
  }

}

//Right Float
.float-right {
  float: right;
}

//Right text
.right-text {
  text-align: right;
}

//Titles
.main-title {
  text-align: center;
  text-transform: uppercase;
  font-family: $main_font_familyBold;
  font-size: 40px;
  color: #ffffff;
}

.sub-title {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

.blog-title {
  font-family: $main_font_familyBold;
  font-size: 24px;
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 30px;
}

//btn
.btn-green {
  text-transform: uppercase;
  color: #ffffff;
  font-family: $main_font_familyBold;
  font-size: 16px;
  background: linear-gradient(to top, #80c925, #acdd00);
  box-shadow: 0 5px 10px rgba(135,204,31,.5);
  padding: 12px 30px;
  border-radius: 3px;
}

.btn-transparent {
  text-transform: uppercase;
  font-family: $main_font_familyBold;
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 3px;
  border: 2px solid #8ecf19;
  &:hover {
    padding: 14px 30px;
    border: none;
    color: #ffffff;
    background: linear-gradient(to top, #80c925, #acdd00);
  }
}


//Hamburger Menu
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding: 10px 15px;
  color:#ffffff;
  font-family: $main_font_familyBold;
  border:0;
  font-size:2.5em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  position:absolute;
  top: -5px;
  right:0;
  padding: 0 15px;
  color:#000000;
  border:0;
  font-size:4em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

@media (max-width:767px) {
  .header {
    .nav{
      left: 0;
      padding-left: 0;
      margin-top: 0;
      z-index:1000000;
      font-weight:bold;
      font-size:0.8em;
      width:100%;
      background:#f1f1f1;
      position:absolute;
      text-align:center;
    }
    .nav ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
    .nav li {
      background: #f1f1f1;
      display: block;
      margin-top: 0;
      padding:15px 0 15px 0;
      border-bottom:#dddddd 1px solid;
    }
    .nav li:hover{display: block;    background:#ffffff; padding:15px 0 15px 30px; border-bottom:#dddddd 1px solid;}
    .nav ul .nav__item a { text-decoration:none; text-align: center;  margin: 0; color:#666;}
    .nav ul li a:hover { color: #666; text-decoration:none;}
    .nav a{text-decoration:none; color:#666;}
    .nav a:hover{text-decoration:none; color:#666;}

    .nav__item_link {
      padding: 0;
      height: auto;
    }

    .nav li, .nav li:hover {
      padding: 0;
    }

    .nav ul li a {
      padding: 10px 0;
    }

    .nav__item_link:active, .nav__item_link:focus, .nav__item_link:hover {
      background: #ffffff;
    }
  }
}

//Blog description
.blog-description {
  padding: 50px 0;
  position: relative;
  background: #ffffff;
  box-shadow: 0 0 50px rgba(0,0,0,.3);
  .blog-title {
    margin-bottom: 30px;
  }
}

//Blog Post Style
.post__item {
  background: #fff;
  transform: scale(1);
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  transition: box-shadow .3s ease;
  &_img {
    margin-bottom: 0;
    transition: opacity .3s ease;
    img{
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      width: 100%;
    }
  }
  &_text {
    height: 36px;
    padding: 0 25px;
    line-height: 18px;
    margin: 15px 0 20px;
    transition: bottom .2s ease;
    position: relative;
    bottom: 0;
    overflow: hidden;
  }
  .btn-green {
    display: none;
  }
  &:hover {
    transform: scale(1.1);
    border: 2px solid #8ecf19;
    margin-bottom: 28px;
    box-shadow: 0 0 100px rgba(0,0,0,.2);
    .post__item_img {
      opacity: .3;
      img {
        width: 101%;
      }
    }
    .post__item_text {
      position: absolute;
      bottom: 45%;
      font-family: $main_font_familyBold;
    }
    .btn-green {
      margin: 8px 0 18px;
      display: inline-block;
    }
  }
}

//Post by Category
.alt-post {
  box-shadow: none;
  font-size: 0;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  max-height: 220px;
  margin-bottom: 30px;
  overflow: hidden;
  .post-thumb {
    float: left;
    width: 53%;
    img {
      width: 100%;
    }
  }
  .post-detail {
    position: relative;
    height: 220px;
    max-height: 220px;
    float: left;
    width: 47%;
    vertical-align: top;
    padding: 20px;
    .category-title {
      font-size: 16px;
      font-family: $main_font_familyBold;
    }
    .blog-title {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .post-content {
      overflow: hidden;
      max-height: 40%;
      font-size: 12px;
      line-height: 14px;
      color: #737a81;
      text-overflow: ellipsis;
    }
    .post-more {
      background: #ffffff;
      z-index: 2;
      position: absolute;
      margin-top: 10px;
      bottom: 15px;
      left: 0;
      right: 0;
      a {
        text-align: center;
        display: block;
        margin: auto;
        width: 85%;
        text-transform: uppercase;
        font-family: $main_font_familyBold;
        font-size: 16px;
        padding: 12px 0;
        border-radius: 3px;
        border: 2px solid #8ecf19;
        &:hover {
          padding: 14px 30px;
          border: none;
          color: #ffffff;
          background: linear-gradient(to top, #80c925, #acdd00);
        }
      }
    }
  }
  &:hover {
    transition: box-shadow .3s ease;
    border: 2px solid #8ecf19;
    box-shadow: 0 0 100px rgba(0,0,0,.2);
  }
}

//Pagination
.pagination {
  text-align: center;
  margin-top: 10px;
  &__list {
    display: inline-block;
    list-style: none;
  }
  &__item {
    display: inline-block;
    margin-right: 10px;
    a {
      background: #ffffff;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      width: 30px;
      box-sizing: border-box;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      &:hover {
        border: 2px solid #8ecf19;
        height: 29px;
        line-height: 29px;
      }
    }
  }
  .dots {
    a {
      width: 10px;
      border: none;
      &:hover {
        border: none;
      }
    }
  }
  .last__item {
    a {
      color: #e5e5e5;
      &:hover {
        color: $main_font_color;
      }
    }
  }
  .pagination__control {
    padding: 8px 15px;
  }
}

//Owl Carousel
#owl-two {
  position: relative;
  .post__item {
    margin: 40px 0 50px;
    &:hover {
      margin-bottom: 46px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
  }
  .owl-nav {
    position: absolute;
    top: -50px;
    right: 0;
    & > div {
      background: #ffffff;
      position: relative;
      display: inline-block;
      margin-left: 10px;
      width: 30px;
      height: 30px;
      font-size: 0;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      &:before {
        text-align: center;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 20px;
        line-height: 24px;
      }
      &:hover {
        transition: all .3s ease;
        background: linear-gradient(to top, #80c925, #acdd00);
        box-shadow: 0 0 20px rgba(136,205,30,1);
        border: none;
      }
    }
    .owl-prev {
      &:before {
        content: "<";
      }
    }
    .owl-next {
      &:before {
        content: ">";
      }
    }
  }
}

//Post Slider
#owl-one {
  margin-bottom: 30px;
  .owl-nav {
    top: 90%;
    right: 2%;
    & > div {
      opacity: .3;
        &:hover {
          opacity: 1;
        }
      }
    }
    img {
      width: 100%;
      max-width: 1140px;
    }
}

.owl-carousel {
  .owl-nav {
    position: absolute;
    top: -50px;
    right: 0;
    & > div {
      background: #ffffff;
      position: relative;
      display: inline-block;
      margin-left: 10px;
      width: 30px;
      height: 30px;
      font-size: 0;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      &:before {
        text-align: center;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 20px;
        line-height: 24px;
      }
      &:hover {
        transition: all .3s ease;
        background: linear-gradient(to top, #80c925, #acdd00);
        box-shadow: 0 0 20px rgba(136,205,30,1);
        border: none;
      }
    }
    .owl-prev {
      &:before {
        content: "<";
      }
    }
    .owl-next {
      &:before {
        content: ">";
      }
    }
  }
}